# Ignore data files
*.p

# Optional: Also ignore common Python/data science files
*.pyc
__pycache__/
*.pkl
*.pickle
.DS_Store
*.dat
**/*.dat
*.pdf
**/*.pdf
**/*.png
**/*.out
**/dummy_file
**/*.yaml
*.log
**/*.log
*.txt
**/*.txt
*.csv
**/*.csv
*.json
**/*.json
*.jsonl
**/*.jsonl
*.jsonl.gz
**/*.jsonl.gz
**/*.dynesty.save
**/*.dynesty.save*
HD102365/results_*/
