# Ignore data files
*.p

# Optional: Also ignore common Python/data science files
*.pyc
__pycache__/
*.pkl
*.pickle
.DS_Store
*.dat
**/*.dat
*.pdf
**/*.pdf
**/*.png
**/*.out
**/dummy_file
**/*.yaml
*.log
**/*.log
*.txt
**/*.txt
*.csv
**/*.csv
*.json
**/*.json
*.jsonl
**/*.jsonl
*.jsonl.gz
**/*.jsonl.gz
**/*.dynesty.save
HD102365/results_HD102365_dynesty/all_instr/1p/HD102365_all_instr_1p_dynesty/HD102365_all_instr_1p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty/all_instr/2p/HD102365_all_instr_2p_dynesty/HD102365_all_instr_2p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty/no_espresso/2p/HD102365_no_espresso_2p_dynesty/HD102365_no_espresso_2p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty/no_espresso/3p/HD102365_no_espresso_3p_dynesty/HD102365_no_espresso_3p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_new/espresso_only/1p/HD102365_espresso_only_1p_dynesty/HD102365_espresso_only_1p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_test/all_instr/0p/HD102365_all_instr_0p_dynesty/HD102365_all_instr_0p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_test/all_instr/1p/HD102365_all_instr_1p_dynesty/HD102365_all_instr_1p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_test/all_instr/2p/HD102365_all_instr_2p_dynesty/HD102365_all_instr_2p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_test/all_instr_espresso_gp/0p/HD102365_all_instr_espresso_gp_0p_dynesty/HD102365_all_instr_espresso_gp_0p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_test/all_instr_espresso_gp/1p/HD102365_all_instr_espresso_gp_1p_dynesty/HD102365_all_instr_espresso_gp_1p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_test/all_instr_espresso_gp/2p/HD102365_all_instr_espresso_gp_2p_dynesty/HD102365_all_instr_espresso_gp_2p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_test/all_instr_espresso_gp/3p/HD102365_all_instr_espresso_gp_3p_dynesty/HD102365_all_instr_espresso_gp_3p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_test/espresso_only/0p/HD102365_espresso_only_0p_dynesty/HD102365_espresso_only_0p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_test/espresso_only/2p/HD102365_espresso_only_2p_dynesty/HD102365_espresso_only_2p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_test/espresso_only/3p/HD102365_espresso_only_3p_dynesty/HD102365_espresso_only_3p_dynesty/dynesty/dynesty.save
HD102365/results_HD102365_dynesty_test/no_ucles/1p/HD102365_no_ucles_1p_dynesty/HD102365_no_ucles_1p_dynesty/dynesty/dynesty.save
